.gallery-container a:hover{
    opacity: 0.8;
}
.gallery-container a div{
    width: 100%;
    height: 235px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gallery-container a h3 {
    font-size: 20px;
    font-weight: 700;
    color: #111;
    text-decoration: none;
    
}

.gallery-link h2 {
    
    font-size: 28px;
    font-weight: 600;
    color:#111;
    text-transform: uppercase;
    
}
.gallery-container{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content:flex-start;
align-content:flex-start;
}
.gallery-container a {
    width: 230px;
    margin: 20px 10px 0;
}